<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
        <!-- Import Vue.js -->
        <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
</head>
<body>
    <main id = "app">
        <div class="alert-div" v-if="showSuccessAlert" >
            <p>{{message}}</p>
          </div>
            <section class = "section1">
              <h1>Color Palette Generator</h1>
              <div class = "colors">
          
                <div class = "color" v-for="color in colors"  @click="handleCopy(color)">
                  <div class="color-img" :style="{backgroundColor: color}"></div>
                  <div class="color-text">{{ color }}</div>
                  <!-- <p class="text-center fs-6 title"> {{name}} </p> -->
                </div>
                </div>

            </section>



            <section class = "section2">
              <button class = "btn" id = 'generate' @click="generateHex"> Randomize!</button>
              <p>Or press 'SPACEBAR' or 'ENTER' to generate new palettes!</p>
              <h4> Click an individual color to copy it.</h4>
              <br>
              <br>
              <br>
              <br>
              <h5>* Note that keypress are NOT supported on Safari</h5>
            </section>

        </main>
    
</body>
</html>
<script src = "palette.js"></script>