    #ship {
            width: 300px;
            height: 118px;
            background-image: url('spaceship.png');
            position: absolute;
            left: 1px;
            top: 40px;
            margin-top: 250px;
        }

        #shipLight {
            height: 20px;
            width: 20px;
            border-radius: 90%;
            background-color: red;
            position: absolute;
            left: 211px;
            top: 52px;
        }
        button {
            font-size: 20px;
            background-color: black;
            color: white;
            border-color:white;
            border-radius: 4px;
            margin-top: 50px;
        }
        
        img {
            position: absolute;
        }
        body {
            background-image: url("space.jpeg");
            background-repeat:no-repeat;
            background-size: cover;
            
        }