body {
    background-color: #DDFFF7;
    font-family: Helvetica, sans-serif;
}
h1 {
    background-color: #93E1D8;
    text-align: center;
}
p {
    text-align: center;
}
.div1 {
    margin: 0 auto;
    width: 400px;
     padding: 1em;
    border: 10px solid #FFA69E;
    border-radius: 1em;
    margin-top: 100px;

    

}
.div2 {
    margin: 0 auto;
    width: 400px;
     padding: 1em;
    border: 10px solid #AA4465;
    border-radius: 1em;
    margin-top: 100px;
    color: #462255;
    
}

a:visited,a:link,a:active {
    text-decoration: none;
    color:#462255;
    
}