html {
    width: 300px;
    height: 300px;
    font-size: 10px;
}

#central {
    
    width: 30rem;
    height: 30rem;
    background-image: radial-gradient(circle at center,#ffd0bb, #fcb9b2, #b23a48,#8c2f39,#461220);
    background-size:contain;
    align-items: center;
    border-radius: 300px;
}

#web {
    font-size: 32px;
    background-color: transparent;
    color: #b23a48;
    text-decoration: none;
}