body {
    
    background:linear-gradient( #22c1c3, #2dfd6a);
   background-attachment: fixed;
}
h1 {
    font-size: 50px;
}
header::first-letter {
    font-size: 44px;
}
header::first-line {
    color: rgb(255, 0, 0);
}
h2{
    transform: rotate(10deg);
    margin-top: 50px;
}
button {
    background-color: #aec17b;
    border-radius: 17px;
    border-color: blue;
    border-width: 9px;
    border-style: ridge;
    padding:15px;
    font-family: 'Chela One';
}
.buttontwo {
    background-image: linear-gradient(#544939, #d73530);
    border-radius: 12px;
    border-color: blue;
    border-width: 15px;
    border-style: dashed;
    text-shadow: 2px 2px #989992;
    color: #edeaea;
    background-clip: padding-box;
}
