body{
    font-size: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(2, 40, 36);
    color: white;
}
p {
    font-size: 1rem;
    line-height: 1.5pc;
    white-space: pre-wrap;
}
h1,h2,h3 {
    text-align: center;
}
h3 {
    font-size: 3rem;
   
}
h2{
    font-size: 5rem;
  
}
h1{
    text-transform: uppercase;
    text-shadow: 7px 7px 5px rgb(8, 191, 100);
    font-size: 9rem;
  
}